@import './config';

$mobileSidebarWidth: $sidebarWidth * 0.82;


@media (max-width: $MQNarrow) {
  .sidebar {
    font-size: 15px;
    width: $mobileSidebarWidth;
  }
  .page {
    padding-left: $mobileSidebarWidth;
  }
  .page-content, .theme-container>.content {
    padding: 1.5rem;
  }
  .content {
    pre, pre[class*="language-"] {
      border-radius: 0;
      margin: .85rem -1.5rem;
    }
  }
}


@media (max-width: $MQMobile) {
  .component-item-list {
    .title{
      display: none;
    }
    .card-content {
      >.description{
        display: none;
      }
      >.image{
        margin: 0 1.2rem 0 0!important;
        height: 40%!important;
      }
      >.mobile-title{
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        align-items: center;
      }
    }
    
  }
  .content {
    h1:first-child{
      // margin-top: -1.5rem!important;
    }
  }
  .sidebar {
    top: 0;
    margin-top: 61px;
    border-right: 1px solid #e0e6ed!important;
    transform: translateX(-100%);
    transition: all 0.2s ease;
  }
  .page {
    padding-left: 0;
  }
  .sidebar-open {
    transform: translateX(0);
  }
  .nav-bar{
    padding: 0 0.6rem 0 3rem;
  }
  .search-wrapper{
    .no-focused{
      .el-input__prefix{
        right: 0;
        z-index: -1;
        .el-icon-search{
          font-weight: 600;
        }
      }
    }
    input{
      cursor: pointer;
      width: 0;
      border-color: transparent;
      display: inline-block;
      outline: none;
      transition: all .2s ease;
      background: transparent;
    }
    input:focus{
      cursor: text;
      width: 10rem;
      left: 0;
    }
  }
  .sidebar-button{
    display: inline-block;
  }
  iframe{
    height: 350px;
  }
}


@media (max-width: $MQMobileNarrow) {
  h1 {
    font-size: 1.9rem;
  }
  table{
    max-width: $MQMobileNarrow;
    margin: .85rem -1rem;
  }
  iframe{
    height: 230px;
  }
  .content {
    pre, pre[class*="language-"] {
      border-radius: 0;
      margin: .85rem -1rem;
    }
  }
  .page-content, .theme-container>.content {
    padding: 1rem;
  }
  
}
